.DS_Store
*/__pychache__/*
__pycache__/*
*/.ipynb_checkpoints/*
*/.DS_Store
data/*.pkl
.ipynb_checkpoints
*/data/*
# eclude any __pycache__ directories and files in there
__pycache__/*
*/__pycache__/*
# exclude all .pyc files
*.pyc
# include pkl files in results directory, so upload to github
!results/*.pkl